node_modules
.env
coverage
coverage.json
typechain

cache
# artifacts
**/dist/
/packages/aa-utils/src/types/
yarn-error.log
.vscode
**/**/.env
**/**/typechain-types

/packages/aa-smc/typechain-types
/packages/aa-smc/artifacts
/packages/aa-smc/.env
